<!doctype html>
<html lang="en">
<head>
    {{>bootstrap}}

    <title>Chat App</title>
</head>
<body>
{{>header}}
<button type="button" class="btn btn-primary" id="increment">+1</button>
{{>io}}
</body>
</html>